// 1. 모든 버튼들의 공통점만 placeholder로 만들어 놓는다
%btn-base {
  @include inline-flexbox;
  padding: 0 8px;
  font-weight: 700;
  border-radius: 4px;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

// NOTE : 2. Button styles : 스타일적인 요소만 class를 만들어 놓는다.

.btn-primary {
  @extend %btn-base;
  color: $white;
  background-color: $blue;
  transition: background-color 200ms ease-in-out;
  // disabled가 아닌 녀석이 hover 되었을떄!
  &:not(:disabled):hover {
    background-color: $blue-dark;
  }
}

.btn-secondary {
  @extend %btn-base;
  color: $primary;
  background-color: $border;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $tertiary;
  }
}

.btn-outlined {
  @extend %btn-base;
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $blue-light;
  }
}

.btn-ghost {
  @extend %btn-base;
  color: $primary;
  background-color: transparent;
  transition: color 200ms ease-in-out;

  &:not(:disabled):hover {
    color: $secondary;
  }
}

// NOTE : 3. Button sizes : 사이즈적인 요소만 클래스를 만들어 놓는다.
.btn-32 {
  @include text-style(14);
  height: 32px;
}

.btn-40 {
  @include text-style(16);
  height: 40px;
}

.btn-48 {
  @include text-style(16);
  height: 48px;
}

.btn-55 {
  @include text-style(18);
  height: 55px;
}

// NOTE : 3. Button states : 상태 디자인만 클래스를 만들어 놓는다.
