.lnb {
  $lnb-link-padding: 8px;

  overflow-x: auto;

  background-color: $white;

  @include no-scrollbar;

  &-list {
    @include inline-flexbox(start);
    white-space: nowrap;
    padding: 0 #{$grid-margin - $lnb-link-padding};
    margin-left: -#{$grid-margin};
    height: 40px;
    border-bottom: 1px solid $border;
    // @include flexbox(start);
    // width: 550px;
    // width: max-content;
  }

  &-item {
    // flex-shrink: 0;

    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }
    a {
      height: $lnb-height-sm;
      padding: 0 $lnb-link-padding;
      @include inline-flexbox;
      @include text-style(13, $dark);
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }

    &:hover {
      color: $blue;
    }

    .ic-new {
      color: $red;
    }
  }

  @include responsive(T) {
    height: $lnb-height-md;
    overflow-x: visible;
    border-bottom: 1px solid $border;
    // 부담 해
    &-list {
      height: auto;
      padding: 0;
      margin-left: 0;
      border-bottom: 0;
    }
    &-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;
      }
    }
  }
}
